<!-- Intro Section -->
<div class="view jarallax fondo intro-header d-block" data-jarallax='{"speed": 0.2}'>
    <div class=" ">
        <div class="container py-5 my-5 d-flex justify-content-center align-items-center ">

            <div class="row  animated fadeInUpBig pt-5">
                <div class="col-md-6">

                    <img src="./assets/img/profile.jpg" class="profile rounded mx-auto d-block img-fluid z-depth-4 rounded-circle " alt="Responsive image ">
                </div>
                <div class="col-md-6 mb-3">
                    <div class="intro-info-content text-center">
                        <h2 class="h3 display-4 mb-4 wow fadeInDown text-uppercase" data-wow-delay="0.3s">Josue <a class="indigo-text font-bold">Martinez</a></h2>
                        <h5 class="font-up mb-5 mt-1 font-bold wow fadeInDown" data-wow-delay="0.3s">Desarrollador Web</h5>
                        <a mdbBtn color="light-blue" size="lg" class="wow fadeInDown waves-light" data-wow-delay="0.3s" mdbWavesEffect>Portafolio</a>
                        <a mdbBtn color="indigo" size="lg" class="wow fadeInDown waves-light" data-wow-delay="0.3s" mdbWavesEffect>Inforrmación</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Main Navigation-->